spring:
  main:
    web-application-type: none
  datasource:
    url: jdbc:h2:file:${todoapp.data-dir:./data}/todoapp-db
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: warn
